<div class="header">
    <h1> Productos</h1>
    <figure>
        <a href="/api/carts/669c161c6a9894fa8bb4d3c3/purchase">
            <img src="/img/cart.png" alt="carrito">
        </a>
    </figure>
</div>

<div class="enlaces">
    {{>menu}}
</div>


<input type="text" value="{{carrito._id}}" hidden id="carrito">

<h2>Productos</h2>

<div class="lista-prod">
    <ul>
        {{#each productos}}
        <li>
            <strong>{{description}}</strong> - Precio: <strong>{{price}}</strong>
            <button onclick="comprar('{{_id}}')">Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>
    <img src="/img/mujer-productos.png" alt="">
</div>


<div id="paginacion">
    <a href="/productos?pagina=1">Pag. 1</a>
    
    <a href="/usuarios?pagina={{totalPages }}">Ultima Página</a>
    
    {{#if hasPrevPage}}
    <a href="/usuarios?pagina={{prevPage}}">Anterior Página</a>
    {{/if}}
    
    {{#if hasNextPage}}
    <a href="/usuarios?pagina={{nextPage}}">Anterior Siguiente</a>
    {{/if}}
    
</div>

<br>
<br>

<script src="/js/productos.js"></script>